@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Index";
}

@ViewBag.Message

<h3>Available Roles For Application</h3>
<hr />

<style type="text/css">
    #tbrole, .c {
        border: double;
    }
</style>
<div class="container">  

    <div class="table-responsive">
        <table class="table table-bordered">

            <thead>
                <tr>
                    <th>Sl.No</th>
                    <th>Role Name</th>
                    <th>Action</th>

                </tr>
            </thead>
            <tbody>
                @{
                    int tl = 0;
                    foreach (var item in Model)
                    {
                        <tr class="active">
                            <td>@(tl=tl+1)</td>
                            <td>@item.Name</td>
                            <td>
                                <span onclick="return confirm('Are you sure to delete?')">
                                    <a href="@Url.Action("Delete", "Roles", new { @item.Id })"><span class="glyphicon glyphicon-remove"></span> Delete</a>
                                </span>
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
    <hr />
    @Html.ActionLink("Create Role", "Create", "Roles", new { @class = "btn btn-default" })

    @*
        <table id="tbrole">
            <tr>
                <td class="c">
                    Role Name
                </td>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td colspan="2">
                        @item.Name
                    </td>
                    <td>
                        <span onclick="return confirm('Are you sure to delete?')">
                            <a href="/Account/RoleDelete?RoleName=@item.Name" class="delLink"><span class="glyphicon glyphicon-remove"><span></span> Delete</a>
                        </span>
                    </td>
                </tr>
                <div class="tr">
                    <div class="td">
                        @item.Name
                    </div>
                    <div class="td">
                        <span onclick="return confirm('Are you sure to delete?')">
                            <a href="/Account/RoleDelete?RoleName=@item.Name" class="delLink"><span class="glyphicon glyphicon-remove"><span></span> Delete</a>
                        </span>
                    </div>
                </div>
            }
        </table>  *@
</div>